.header {
  height: 100%;
  max-width: 1052px;
  width: 100%;
  margin: 92px 24px 92px;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
  margin-left: 26px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  list-style: circle;  
  gap: 32px;  
}

.header__links-list-item {
  font-family: 'Raleway',  Arial, sans-serif;
  font-size: 18px;
  line-height: 21.13px;
  text-align: left;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  letter-spacing: 0.01em;
}

.header__logo-image {
  width: 148px;
  height: 105px;  
}

.address {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  max-width: 240px;
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.01em;
}

.address__item {
  list-style-type: none;
}

.header__address {
  margin-left: 186px;
}

.address__letter-spacing-reduce {
  letter-spacing: normal;
}

.cover {
  position: relative;
  z-index: 1;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: rgb(255 255 255 / 1);
}

.overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / .6);
}

.cover__title {
  font-size: 100px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  font-weight: 700;
  line-height: 115px;
}

.aligned-text_center {
  margin-top: 20px; 
  text-align: center;
  line-height: 100px;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
  line-height: 100px;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  padding-top: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.cover__description-text {
  margin-left: 28px;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  text-align: left;
  word-spacing: 0.84em;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid rgb(255 255 255 / 1);
  font-family: 'Raleway',  Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.83px;
  text-align: center;
  text-transform: inherit;
  background-color: transparent;
  color: rgb(255 255 255 / 1);
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  margin: 0 0 0 40px;
  font-size: 40px;
  line-height: 46.96px;
  font-weight: 700; 
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  margin: 27px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
  color: rgb(255 255 255 / 1);
}

.card {
  position: relative;
  margin: 0;
  padding: 51px 40px 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(255 255 255 / 1);
}

.card__text {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  padding: 0 0 0 40px;
  font-size: 20px;
  line-height: 23.48px;
}

.more_points {
  letter-spacing: 0.13em;
}

.about {
  margin: 0;
  padding: 181px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 7px 25px;
  grid-template-areas: 
  "logo title"
  ". text";
}

.about__logo {
  margin: auto;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: rgb(0 0 0 / 1);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  grid-area: title;
  margin: 101px 0 90px 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.about__text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__text-letter {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.about__text-letter-extended {
  letter-spacing: 0.04em;
}

.footer {
  padding: 180px 50px 88px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  text-align: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;  
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}