* {
  box-sizing: border-box;
}

body{
  font-weight: 400;
  max-width: 1100px;
  width: 100%;
  margin: auto;
  font-family: Raleway, sans-serif;
}

/*-----------HEADER----------*/

.header {
  max-height: 105px;
  height: 100%;
  max-width: 1052px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  margin: 92px 24px 96px;
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-left: 26px;
}

.header__links-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: circle;  
  gap: 32px;  
}

.header__links-list-item{
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__link {
  color:black;
}

.header__logo-image {
  width: 148px;
  height: 105px;  
}

.address {
  padding: 5px 28px 2px 185px;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  }

.address ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  }  

.header__address {
  color: black;
  list-style-type: none;
}

/* ----------------COVER------------*/

.cover {
  position: relative;
  padding: 165px 50px 40px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / .6)
}

.cover__title {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  line-height: 115px;
}

.aligned-text_center {
  margin-top: 20px;
  text-align: center;
  line-height: 100px;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
  line-height: 100px;
}

.letter-spacing-extended{
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description{
  position: relative;
  padding-top: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.cover__description-text{
  margin-left: 28px;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.83px;
  text-align: left;
  word-spacing: 0.84em;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: calc(26 / 22 * 100%);
  text-align: center;
  text-transform: inherit;
  background-color: transparent;
  color: #fff;
}

/*--------------LOTS-----------*/

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  margin: 0 0 0 40px;
  font-size: 40px;
  line-height: 47px;
  font-weight: 700; 
  text-align: left;
  text-transform: uppercase;
}

.lots__card-list {
  margin: 27px 0 30px 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item{
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  height: 100%;
  display: block;
  text-decoration: none;
  color:#fff;
}

.card {
  position: relative;
  margin: 0;
  padding: 51px 40px 48px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  color:#fff;
}

.card__text {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link{
  display: block;
  padding: 0 0 0 40px;
  font-size: 20px;
  color:black;
  line-height: 24px;
}

.more_points {
  letter-spacing: 0.13em;
}

/*************ABOUT********/

.about {
  margin: 0;
  padding: 181px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 10px 25px;
  grid-template-areas: 
  "logo title"
  ". first"
  ". second";
}

.about__logo{
  margin: auto;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: logo;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  grid-area: title;
  align-self: center;
  text-transform: uppercase;
}

.about__text-first {
  margin: 0;
  padding: 0;
  grid-area: first;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.about__text-second {
  margin: 0;
  padding-top: 14px;
  grid-area: second;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.about__span_oni {
  letter-spacing: 0.04em;
}

.footer {
  padding: 180px 50px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer .address {
  margin: 0;
  padding: 0;
  max-width: 240px;
  width: 100%;
}

.footer__menu {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  color:black;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;  
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}